.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-users-userformpagewrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.w-users-userloginformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 12px;
}

.w-users-userformerrorstate {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  margin-left: 20px;
  margin-right: 20px;
}

.w-users-usersignupformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: var(--image-i5cec3e91);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userupdatepasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
}

.w-users-blockheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-blockcontent {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  background-color: #d3d3d3;
  color: #333;
}

.header-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: var(--image-i6dbfb3c2);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-x;
}

._100wide {
  width: 100%;
}

.grid {
  width: 100%;
  min-height: auto;
  grid-column-gap: 16px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.gridwrap {
  width: 100%;
  margin-top: 48px;
}

.autowrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 500px;
  background-color: #0f0f0f;
}

.heading {
  font-family: lust, sans-serif;
  color: #fbfbfb;
  font-size: 9rem;
  line-height: 100%;
}

.heading-2 {
  font-family: monotype-grotesque, sans-serif;
  color: #fafafa;
  font-weight: 400;
  letter-spacing: 3px;
}

.toptitle {
  margin-top: -47px;
  font-family: monotype-grotesque, sans-serif;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 400;
  text-align: right;
}

.heading-3 {
  margin-bottom: 49px;
  font-family: lust, sans-serif;
}

.survey-wrap {
  position: relative;
  max-width: 1200px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.footer {
  margin-top: 97px;
  background-image: var(--image-i6dbfb3c2);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-x;
}

.form-label {
  font-size: 0.7rem;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-input {
  height: 60px;
  margin-bottom: 20px;
  background-color: #fff;
}

.form-input.hidden {
  display: none;
}

.button {
  width: 200px;
  padding: 23px;
  background-color: #121212;
  font-family: lust, sans-serif;
  color: #f8f8f8;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0px;
}

.form-set {
  margin-top: 19px;
}

.grid-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
}

.button-wrap {
  margin-top: 38px;
}

.radio-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.radio-button-field-2 {
  margin-right: 26px;
}

.profiles-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: var(--image-i6dbfb3c2);
  background-position: 50% 50%;
  background-size: cover;
}

.profile-h1 {
  font-family: lust, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.profile-head {
  margin-top: 41px;
  font-family: lust, sans-serif;
}

.success-wrap {
  border: 3px solid #000;
  background-color: #fff;
}

.text-block {
  font-family: lust, sans-serif;
}

.profile-wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  font-family: monotype-grotesque, sans-serif;
  font-weight: 700;
}

.cards-container {
  position: relative;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.profilecard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 400px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
}

.profile-imagewrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 400px;
}

.image-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.title-wrap {
  text-align: center;
}

.profile-title {
  font-family: lust, sans-serif;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.user-description {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}

.profile-button {
  width: 200px;
  margin-top: 22px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #060707;
  font-family: lust, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.section-heading-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.api-content {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

.sample-card {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #fff;
  cursor: pointer;
}

.sample-card.hide {
  display: none;
  text-align: center;
}

.sample-card.hide {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.api-data-goes-here {
  margin-bottom: 40px;
  padding-bottom: 0px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.headingh3 {
  font-family: lust, sans-serif;
  color: #070606;
  font-size: 18px;
}

.paragraph {
  font-weight: 400;
}

.heading-7 {
  text-align: center;
}

.link {
  display: inline-block;
  color: #2853fc;
}

.image {
  margin-bottom: 20px;
  border-radius: 300px;
}

.navbar {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .header-wrap {
    height: auto;
  }

  .grid {
    min-height: auto;
    margin-bottom: 0px;
  }

  .gridwrap {
    margin-top: 20px;
  }

  .heading {
    font-size: 5rem;
  }

  .toptitle {
    font-size: 2rem;
  }

  .cards-container {
    padding-right: 5%;
    padding-left: 5%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .api-data-goes-here {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 3rem;
  }

  .toptitle {
    font-size: 1.5rem;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cards-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .container {
    text-align: center;
  }

  .api-data-goes-here {
    grid-row-gap: 60px;
    grid-template-areas: "."
      "."
      "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .header-wrap {
    background-size: cover;
  }

  .grid {
    margin-bottom: 5%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gridwrap {
    min-height: auto;
  }

  .autowrap {
    width: 80vw;
    height: 80vw;
  }

  .heading {
    font-size: 3rem;
  }

  .toptitle {
    padding: 20px;
  }

  .image-4 {
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
  }

  .radio-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

#w-node-_8814eeef-ef24-3f7d-fda7-563ab8300384-3efaa0f2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fcfcf014-0c23-c648-adc1-8093ed691ef8-3efaa0f2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_69a8176f-3fd4-899a-4f0e-56f8c4df2562-3efaa0f2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ed7c222-37b6-7622-09f5-039779f95139-3efaa0f2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#samplestyle.w-node-_708cb888-838d-e1bc-5d38-7e1c4edd59e8-4d4c2c37 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-db738667-2d27-12f1-e4ec-8e3d48521b6f-8d5116f6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8814eeef-ef24-3f7d-fda7-563ab8300384-d43636df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fcfcf014-0c23-c648-adc1-8093ed691ef8-d43636df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_69a8176f-3fd4-899a-4f0e-56f8c4df2562-d43636df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ed7c222-37b6-7622-09f5-039779f95139-d43636df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

